# 2 IPython基础 P23

In [94]:
import numpy as np
data = [np.random.standard_normal() for i in range(7)]
data

[0.2817461528302025,
 0.7690225676118387,
 1.2464347363862822,
 1.0071893575830049,
 -1.2962211091122635,
 0.274991633432124,
 0.22891287893531592]

In [95]:
a = [1, 2, 3]
b = a
b

[1, 2, 3]

## 2.3Python语言基础

In [96]:
a.append(4)

In [97]:
b

[1, 2, 3, 4]

In [98]:
def append_element(some_list, element):
    some_list.append(element)
data = [1, 2, 3]
append_element(data, 4)
data

[1, 2, 3, 4]

In [99]:
a = 5
type(a)
a = "foo"
type(a)

str

In [100]:
'5'+5

TypeError: can only concatenate str (not "int") to str

In [101]:
a = 4.5
b = 2
# String formatting, to be visited later
print(f"a is {type(a)}, b is {type(b)}")
a / b

a is <class 'float'>, b is <class 'int'>

2.25

In [102]:
a = 5
isinstance(a, int)

True

In [103]:
a = 5; b = 4.5
isinstance(a, (int, float))
isinstance(b, (int, float))

True

In [104]:
a = "foo"
getattr(a, "split")

In [105]:
def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError: # not iterable
        return False

In [106]:
isiterable("a string")
isiterable([1, 2, 3])
isiterable(5)

False

In [107]:
5 - 7
12 + 21.5
5 <= 2

False

In [108]:
a = [1, 2, 3]
b = a
c = list(a)
a is b
a is not c

True

In [109]:
a == c

True

In [110]:
a = None
a is None

True

In [111]:
a_list = ["foo", 2, [4, 5]]
a_list[2] = (3, 4)
a_list

['foo', 2, (3, 4)]

In [112]:
a_tuple = (3, 5, (4, 5))
a_tuple[1] = "four"
#这里举例了一个反例，即元组内部是只可读，不可改，要改的话得想上述一样写成list形式

TypeError: 'tuple' object does not support item assignment

### Numpy之标量：scalars

In [113]:
ival = 17239871
ival ** 6

26254519291092456596965462913230729701102721

In [114]:
fval = 7.243
fval2 = 6.78e-5

In [115]:
a_tuple = (3, 5, (4, 5))
a_tuple[1] = "four"
#这里举例了一个反例，即元组内部是只可读，不可改，要改的话得想上述一样写成list形式

TypeError: 'tuple' object does not support item assignment

In [116]:
3 / 2

1.5

In [117]:
3 // 2

1

In [118]:
c = """
This is a longer string that
spans multiple lines
"""

In [119]:
c.count("\n")

3

In [120]:
a = "this is a string"
a[10] = "f"
#字符串是不可变对象，不能用下标赋值的方式去改变字符串

TypeError: 'str' object does not support item assignment

In [121]:
b = a.replace("string", "longer string")
b
#这里就介绍了如何对字符串进行改动

'this is a longer string'

In [122]:
a

'this is a string'

In [123]:
a = 5.6
s = str(a)
print(s)

5.6

In [124]:
s = "python"
list(s)
s[:3]

'pyt'

In [125]:
s = "12\\34"
print(s)

12\34

In [126]:
s = r"this\has\no\special\characters"
s

'this\\has\\no\\special\\characters'

In [127]:
a = "this is the first half "
b = "and this is the second half"
a + b

'this is the first half and this is the second half'

In [128]:
template = "{0:.2f} {1:s} are worth US${2:d}"

In [129]:
template.format(88.46, "Argentine Pesos", 1)

'88.46 Argentine Pesos are worth US$1'

In [130]:
amount = 10
rate = 88.46
currency = "Pesos"
result = f"{amount} {currency} is worth US${amount / rate}"

In [131]:
f"{amount} {currency} is worth US${amount / rate:.2f}"

'10 Pesos is worth US$0.11'

In [132]:
val = "español"
val

'español'

In [133]:
val_utf8 = val.encode("utf-8")
val_utf8
type(val_utf8)

bytes

In [134]:
val_utf8.decode("utf-8")

'español'

In [135]:
val.encode("latin1")
val.encode("utf-16")
val.encode("utf-16le")

b'e\x00s\x00p\x00a\x00\xf1\x00o\x00l\x00'

In [136]:
True and True
False or True

True

In [137]:
int(False)
int(True)

1

In [138]:
a = True
b = False
not a
not b

True

In [139]:
s = "3.14159"
fval = float(s)
type(fval)
int(fval)
bool(fval)
bool(0)

False

In [140]:
a = None
a is None
b = 5
b is not None

True

In [141]:
from datetime import datetime, date, time
dt = datetime(2011, 10, 29, 20, 30, 21)
dt.day
dt.minute

30

In [142]:
dt.date()
dt.time()

datetime.time(20, 30, 21)

In [143]:
dt.strftime("%Y-%m-%d %H:%M")

'2011-10-29 20:30'

In [144]:
datetime.strptime("20091031", "%Y%m%d")

datetime.datetime(2009, 10, 31, 0, 0)

In [145]:
dt_hour = dt.replace(minute=0, second=0)
dt_hour

datetime.datetime(2011, 10, 29, 20, 0)

In [146]:
dt

datetime.datetime(2011, 10, 29, 20, 30, 21)

In [147]:
dt2 = datetime(2011, 11, 15, 22, 30)
delta = dt2 - dt
delta
type(delta)

datetime.timedelta

In [148]:
dt
dt + delta

datetime.datetime(2011, 11, 15, 22, 30)

In [149]:
a = 5; b = 7
c = 8; d = 4
if a < b or c > d:
    print("Made it")

Made it

In [150]:
4 > 3 > 2 > 1

True

In [151]:
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print((i, j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

In [152]:
range(10)
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [153]:
list(range(0, 20, 2))
list(range(5, 0, -1))

[5, 4, 3, 2, 1]

In [154]:
seq = [1, 2, 3, 4]
for i in range(len(seq)):
    print(f"element {i}: {seq[i]}")

element 0: 1
element 1: 2
element 2: 3
element 3: 4

In [155]:
total = 0
for i in range(100_000):
    # % is the modulo operator
    if i % 3 == 0 or i % 5 == 0:
        total += i
print(total)

2333316668