# 2 IPython基础 P23

In [94]:
import numpy as np
data = [np.random.standard_normal() for i in range(7)]
data

[0.2817461528302025,
 0.7690225676118387,
 1.2464347363862822,
 1.0071893575830049,
 -1.2962211091122635,
 0.274991633432124,
 0.22891287893531592]

## 2.3Python语言基础

### 列表、字符串的介绍

In [ ]:
#新建一个列表
a = [1, 2, 3]
b = a
b

In [96]:
#在列表a后进行增加一个元素
a.append(4)

In [97]:
b

[1, 2, 3, 4]

In [98]:
#利用函数的形式实现在列表中增加一个元素的功能
def append_element(some_list, element):
    some_list.append(element)
data = [1, 2, 3]
append_element(data, 4)
data

[1, 2, 3, 4]

In [1]:
#运用type函数判断5是什么类型
a = 5
type(a)

int

In [99]:
a = "foo"
type(a)

str

In [100]:
'5'+5
#这里是一个错误的示例，就是告诉我们字符型去加整型

TypeError: can only concatenate str (not "int") to str

In [101]:
a = 4.5
b = 2
# 字符串格式，稍后访问
print(f"a is {type(a)}, b is {type(b)}")
a / b

a is <class 'float'>, b is <class 'int'>

2.25

### isinstance() 、getattr()函数介绍

In [102]:
#isinstance() 函数来判断一个对象是否是一个已知的类型
a = 5
isinstance(a, int)

True

In [103]:
#isinstance() 函数来判断一个对象是否是一个已知的类型，这里就是判断是否是（整型、浮点型）之中的一个
a = 5; b = 4.5
isinstance(a, (int, float))
isinstance(b, (int, float))

True

In [104]:
#getattr() 函数用于返回一个对象属性值。
a = "foo"
getattr(a, "split")

### isiterable()函数介绍

In [3]:
def isiterable(obj):
    try:
        iter(obj)  # 尝试获取对象的迭代器
        return True  # 如果成功，说明对象是可迭代的，返回True
    except TypeError:  # 如果出现TypeError异常
        return False  # 说明对象不可迭代，返回False

In [4]:
isiterable("a string")

True

In [5]:
isiterable([1, 2, 3])

True

In [6]:
isiterable(5)

False

In [10]:
12 + 21.5
5 <= 2

False

In [11]:
a = [1, 2, 3]
b = a
c = list(a)
a is b
a is not c

True

In [12]:
a == c

True

In [110]:
a = None
a is None

True

### 元组tuple的初介绍

In [111]:
a_list = ["foo", 2, [4, 5]]
a_list[2] = (3, 4)
a_list

['foo', 2, (3, 4)]

In [112]:
a_tuple = (3, 5, (4, 5))
a_tuple[1] = "four"
#这里举例了一个反例，即元组内部是只可读，不可改，要改的话得想上述一样写成list形式

TypeError: 'tuple' object does not support item assignment

In [113]:
ival = 17239871
ival ** 6

26254519291092456596965462913230729701102721

In [114]:
fval = 7.243
fval2 = 6.78e-5

In [115]:
a_tuple = (3, 5, (4, 5))
a_tuple[1] = "four"
#这里举例了一个反例，即元组内部是只可读，不可改，要改的话得想上述一样写成list形式

TypeError: 'tuple' object does not support item assignment

### 字符型的介绍

In [116]:
3 / 2

1.5

In [117]:
3 // 2

1

In [118]:
c = """
This is a longer string that
spans multiple lines
"""

In [119]:
c.count("\n")

3

In [120]:
a = "this is a string"
a[10] = "f"
#字符串是不可变对象，不能用下标赋值的方式去改变字符串

TypeError: 'str' object does not support item assignment

In [121]:
b = a.replace("string", "longer string")
b
#这里就介绍了如何对字符串进行改动

'this is a longer string'

In [122]:
a

'this is a string'

In [123]:
a = 5.6
s = str(a)
print(s)

5.6

In [124]:
s = "python"
list(s)
s[:3]

'pyt'

In [125]:
s = "12\\34"
print(s)

12\34

In [126]:
s = r"this\has\no\special\characters"
s

'this\\has\\no\\special\\characters'

In [127]:
a = "this is the first half "
b = "and this is the second half"
a + b

'this is the first half and this is the second half'

In [128]:
#这是一个Python字符串模板，它定义了一个格式化字符串，用来格式化一些值的输出。以下是这个模板的解释：

#{0:.2f}: 这部分表示第一个参数（索引为0）应该被格式化为浮点数，并且保留两位小数。
#{1:s}: 这部分表示第二个参数（索引为1）应该被格式化为字符串。
#are worth US$: 这是一个固定的文本部分，不会被替换。
#{2:d}: 这部分表示第三个参数（索引为2）应该被格式化为整数。
template = "{0:.2f} {1:s} are worth US${2:d}"

In [129]:
template.format(88.46, "Argentine Pesos", 1)

'88.46 Argentine Pesos are worth US$1'

In [130]:
amount = 10
rate = 88.46
currency = "Pesos"
result = f"{amount} {currency} is worth US${amount / rate}"

In [131]:
f"{amount} {currency} is worth US${amount / rate:.2f}"

'10 Pesos is worth US$0.11'

### 编码与解码

In [132]:
val = "español"
val

'español'

In [133]:
#对val_utf8进行编码
val_utf8 = val.encode("utf-8")
val_utf8
type(val_utf8)

bytes

In [134]:
#对val_utf8进行解码 
val_utf8.decode("utf-8")

'español'

In [135]:
#这里展示不同的解码类型，读者需要可以单独拉出来运行看解码结果
val.encode("latin1")
val.encode("utf-16")
val.encode("utf-16le")

b'e\x00s\x00p\x00a\x00\xf1\x00o\x00l\x00'

### 布尔型介绍

In [136]:
#布尔型在python中就是True和False
True and True
False or True

True

In [137]:
#这里int(False)就是0，读者需要可以拆开运行
int(False)
int(True)

1

In [138]:
#这里也进行了省略，如果是 not a就是 False， not b 则是True
a = True
b = False
not a
not b

True

### 类型的构造

In [139]:
#这里同理，大家可以拆开来分别进行运行
#这里是教大家如何构造各种浮点型、整型、布尔型
s = "3.14159"
fval = float(s)
type(fval)
int(fval)
bool(fval)
bool(0)

False

### 空值的介绍

In [14]:
a = None
a is None

True

In [15]:
b = 5
b is not None

True

### 日期和时间介绍

In [17]:
#引入时间为2011-10-29 20:30
from datetime import datetime, date, time
dt = datetime(2011, 10, 29, 20, 30, 21)
dt.day
dt.minute

30

In [18]:
dt.date()
dt.time()

datetime.time(20, 30, 21)

In [19]:
dt.strftime("%Y-%m-%d %H:%M")

'2011-10-29 20:30'

In [20]:
datetime.strptime("20091031", "%Y%m%d")

datetime.datetime(2009, 10, 31, 0, 0)

In [21]:
#这里是教了如何进行时间的替换更改
dt_hour = dt.replace(minute=0, second=0)
dt_hour

datetime.datetime(2011, 10, 29, 20, 0)

In [22]:
dt

datetime.datetime(2011, 10, 29, 20, 30, 21)

In [23]:
#这里datetime.timedelta(days=17, seconds=7179)，表明计算后相差17天7179秒
dt2 = datetime(2011, 11, 15, 22, 30)
delta = dt2 - dt
delta

datetime.timedelta(days=17, seconds=7179)

In [24]:
type(delta)

datetime.timedelta

In [148]:
dt
dt + delta

datetime.datetime(2011, 11, 15, 22, 30)

### 控制流

In [149]:
a = 5; b = 7
c = 8; d = 4
if a < b or c > d:
    print("Made it")

Made it

In [150]:
4 > 3 > 2 > 1

True

### for循环介绍

In [151]:
#解释就是进行了两个for循环嵌套，i从0—3，j从0—3，若i>j，则输出结果
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print((i, j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

In [152]:
range(10)
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [153]:
#这里是对range进行了介绍，从（5到0+），依次减1.
list(range(5, 0, -1))

[5, 4, 3, 2, 1]

In [25]:
list(range(0, 20, 2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [154]:
seq = [1, 2, 3, 4]
for i in range(len(seq)):
    print(f"element {i}: {seq[i]}")

element 0: 1
element 1: 2
element 2: 3
element 3: 4

In [155]:
#这段代码介绍了一个小游戏，其目标是找出在0到99,999范围内，
#所有可以被3或者5整除的整数，并将它们的总和打印出来。
#这是一个典型的循环和条件语句的应用。
total = 0
for i in range(100_000):
    # % is the modulo operator
    if i % 3 == 0 or i % 5 == 0:
        total += i
print(total)

2333316668